REVO_ENV=production
FIREBASE_PROJECT_ID=revoolympics-prod
FUNCTIONS_REGION=asia-south1
ADMIN_BASE_URL=https://admin.revoolympics.com
GAME_BASE_URL=https://games.revoolympics.com
ENABLE_DEBUG_LOGGING=false
