REVO_ENV=staging
FIREBASE_PROJECT_ID=revoolympics-staging
FUNCTIONS_REGION=asia-south1
ADMIN_BASE_URL=https://revoolympics-admin-staging.web.app
GAME_BASE_URL=https://revoolympics-games-staging.web.app
ENABLE_DEBUG_LOGGING=true
