REVO_ENV=development
FIREBASE_PROJECT_ID=revoolympics-dev
FUNCTIONS_REGION=asia-south1
ADMIN_BASE_URL=https://revoolympics-admin-dev.web.app
GAME_BASE_URL=https://revoolympics-games-dev.web.app
ENABLE_DEBUG_LOGGING=true
