REVO_ENV=development
FIREBASE_PROJECT_ID=revoolympics-dev
USE_FIREBASE_EMULATORS=false
GAME_HOST_URL=https://revoolympics-games-dev.web.app
ADMIN_HOST_URL=https://revoolympics-admin-dev.web.app
ENABLE_DEBUG_LOGGING=true
